body {
  background-color: green;
}

h2 {
  margin-top: 10px;
  color: #ff69b4;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
}

p {
  color: darkred;
  font-size: 24px;
  font-family: monospace;
  text-align: right;
  margin-right: 55px;
}

ol {
  color: gold;
  font-family: fantasy;
}

img {
  align-items: left;
}
