/* Body CSS */
body {
    background-color: green;
}
/* Heading CSS */
h2 {
    margin-top: 10px;
    color: hotpink;
    text-align: center;
    font-size: 32px;
}
/* Paragraph CSS */
p {
    margin-left: 55px;
    color: darkred;
    font-family: monospace;
    font-size: 24px;
    border-style: inset;
}
/* List CSS */
ul {
    color: gold;
}
img {
    float: right;
}